body {
	padding-bottom: 20px;
	color: #5a5a5a;
	min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.team .col-lg-4{
	text-align: center;
	margin-bottom: 20px;
}

.team h2 {
	color: rgba(50,50,50,0.8);
}

.bottom-row-content {
	margin-left: 20px;
}

.content-image {
	border-radius: 20px;
	padding: 40px;
	border: 0.5px solid black;
}

.team p {
	margin-left: 10px;
	margin-right: 10px;

}

.divider {
	margin: 40px 0;
}

.mickey {
	padding-left: 50px;
	padding-top: 60px;
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.navbar-wrapper > .container{
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar .container{
    width: auto;
}

.navbar-wrapper .navbar {
    padding-right: 20px;
    padding-left: 20px;
}


.carousel {
	height: 500px;
	margin-bottom: 50px;

}

.carousel .item {
	height: 500px;
	background-color: #777;
}

.content {
	margin-right: 20px;
}

.carousel-inner > .item > img {
	position: absolute;
	height: 500px;
	min-width: 100%;
	top: 0;
	left:0;
}


html {
  height: 100%;
}

.pull-right {
	margin-right: 20px;
}

.bottom-stuff {
	margin: 20px;
}

